.DS_Store
processing/.DS_Store
processing/client_color/.DS_Store
server/.DS_Store
server/static/.DS_Store
tidalcycle/.DS_Store
tidalcycle/pattern examples/.DS_Store
tidalcycle/pattern examples/dataset/.DS_Store
tidalcycle/pattern examples/dataset/slab.org_files/.DS_Store