body{
    background-color: #444444; 
}

.color-square{
    width: 30vw;
    height: 30vw;
}

#square1{
    border-top-left-radius: 5%;
    background-color: rgb(255, 0, 0); 
}

#square2{
    border-top-right-radius: 5%;
    background-color:rgb(0, 255, 0);
}

#square3{
    border-bottom-left-radius: 5%;
    background-color: rgb(0, 0, 255);
}

#square4{
    border-bottom-right-radius: 5%;
    background-color:rgb(0, 0, 0);
}

.disabled{
    opacity: 0.3;
}
